---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    <br />
    <h2>About</h2>
    
    In spring 2021, the Wyoming Innovation Network's higher education institutions came together to offer a 2 week-long software engineering bootcamp experience featuring a real-world software engineering project from a Wyoming industry partner (TriHydro).
    
    The bootcamp itself was informed by 5 months of weekly discussions between faculty and administrators from UWYO, all Wyoming Community Colleges, and the expertise of Cardiff University faculty. 
    
Mike Borowczak (UWYO COSC, CEDAR Lab) planned and developed the 2 week / 3 weekend experience in consultation with  Andrea Burrows (UWYO CoED, SEED Lab). The implementation of the bootcamp was made possible throught the technical support and mentorship of Mark Thoney (Sheridan College), Tammy Robertson (Western Community College), and Ruben Gamboa (UWYO, COSC) while logistics and coordination was lead by Kyle Moore (UWYO, AVP of Enrollement) and Justin Mandujano (UWYO, Accountant). 
    
    Each team was guided and peer-mentored by Marcus Thomas (Northwest Graduate, MS from ASU) and PhD Graduate students from the CEDAR Lab: Shaya Wolf (Team Cobalt), Danny Radosevich (Team Copper), Rafer Cooley (Team Platinum) and Mason Johnson (Team Zinc). Initial layout of this site was re-mixed by Andey Tuttle (UWYO COSC) and the intial gitpod infrastructure was tuned and optimized by Mason Johnson (UWYO COSC, Team Zinc).
    
    <h2> Results </h2>
    
    In the span of two weeks, four teams (Cobalt, Copper, Platinum, & Zinc), each comprised of ~4-5 students from across Wyoming's Community Colleges and the University of Wyoming, developed fully functional web applications to search/filter/map employees.
    
    Demos of the final deliverables are below:

   
    <h3>Cobalt Team Video</h3>
    <iframe
      width="640"
      height="480"
      src="https://drive.google.com/file/d/1saIsQVuw1Sa4OYBopwqFRGIsb-zEQ2oU"
      frameborder="0"
      allowfullscreen="">
    </iframe>
    
    
   <h3>Copper Team Video</h3>
    <iframe
      width="640"
      height="480"
      src="https://drive.google.com/file/d/1VictkmYbUkkRtcduwGAlwUQftK5Gx1i8"
      frameborder="0"
      allowfullscreen="">
    </iframe>
    
    
    <h3>Zinc Team Video</h3>
    <iframe
      width="640"
      height="480"
      src="https://drive.google.com/file/d/1ZEMjhKWSKiJ1VinpVobi8P2qb9QVI787"
      frameborder="0"
      allowfullscreen="">
    </iframe>


    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>
    <div>
        <div style="width:80%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Partners</h2>
                {% for ins in site.data.people.partners %}
                <div class="image--cover-container">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:20%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teams</h2>
                {% for ta in site.data.people.teams %}
                <div class="image--cover-container">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
