---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    <br />
    <h2>About</h2>
    
    <p>In spring 2021, the Wyoming Innovation Network's higher education institutions came together to offer a 2 week-long software engineering bootcamp experience featuring a real-world software engineering project from a Wyoming industry partner (TriHydro).
    </p><p>
    The bootcamp itself was informed by 5 months of weekly discussions between faculty and administrators from UWYO, all Wyoming Community Colleges, and the expertise of Cardiff University faculty. 
    </p><p>
Mike Borowczak (UWYO COSC, CEDAR Lab) planned and developed the 2 week / 3 weekend experience in consultation with  Andrea Burrows (UWYO CoED, SEED Lab). The implementation of the bootcamp was made possible throught the technical support and mentorship of Mark Thoney (Sheridan College), Tammy Robertson (Western Community College), and Ruben Gamboa (UWYO, COSC) while logistics and coordination was lead by Kyle Moore (UWYO, AVP of Enrollement) and Justin Mandujano (UWYO, Accountant). 
    </p><p>
    Each team was guided and peer-mentored by Marcus Thomas (Northwest Graduate, MS from ASU) and PhD Graduate students from the CEDAR Lab: Shaya Wolf (Team Cobalt), Danny Radosevich (Team Copper), Rafer Cooley (Team Platinum) and Mason Johnson (Team Zinc). Initial layout of this site was re-mixed by Andey Tuttle (UWYO COSC) and the intial gitpod infrastructure was tuned and optimized by Mason Johnson (UWYO COSC, Team Zinc).
    </p><br />
        <br />
    
    
    <p>CLOCKWISE (Creating Lasting Opportunities with Cardiff to Kindle Wyoming’s Interests in Software Engineering) is comprised of several dozen faculty and administrators from Wyoming’s public insitutions of higher education</p>
<ul>
  <li><a href="www.uwyo.edu">University of Wyoming</a>,</li>
  <li><a href="http://www.caspercollege.edu/">Casper College</a>,</li>
  <li><a href="http://cwc.edu/">Central Wyoming College</a>,</li>
  <li><a href="https://ewc.wy.edu/">Eastern Wyoming College</a>,</li>
  <li><a href="http://www.sheridan.edu/">Sheridan College</a> / <a href="http://www.sheridan.edu/about/gillette">Gillette College</a>,</li>
  <li><a href="http://www.lccc.wy.edu/">Laramie County Community College</a>,</li>
  <li><a href="http://www.nwc.edu/">Northwest College</a>,</li>
  <li><a href="http://www.westernwyoming.edu/">Western Wyoming Community College</a></li>
</ul>

<p>and <a href="https://www.cardiff.ac.uk/">Cardiff University</a>.</p>

<p><a href="http://www.uwyo.edu"><img src="https://upload.wikimedia.org/wikipedia/commons/1/18/University_of_Wyoming_logo.svg" alt="Uwyo" title="Uwyo" width="150" /></a> <a href="http://www.caspercollege.edu"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Casper_College_wordmark.svg" alt="Casper College" title="Casper College" width="150" /></a><a href="http://www.cwc.edu"><img src="https://www.cwc.edu/media/marketing-files/cwcedu/style-assets/icons/cwc-logo-blue@2x.png" alt="CWC" title="CWC" width="150" /></a><a href="http://https://ewc.wy.edu/"><img src="https://uqwf03nohzf4b5l9s1r9ke214de-wpengine.netdna-ssl.com/wp-content/uploads/2020/10/EWC_LogoBlackB.png" alt="EWC" title="EWC" width="150" /></a></p>

<p><a href="https://www.sheridan.edu"><img src="https://www.sheridan.edu/wp-content/uploads/2015/12/SC-NWCCD-GC_large.png" alt="Sheridan/Gillette" title="Sheridan/Gillette" width="300" /></a> <a href="http://www.lccc.wy.edu"><img src="https://upload.wikimedia.org/wikipedia/en/3/3c/Laramie_County_CC_logo.jpg" alt="LCCC" title="LCCC" width="150" /></a></p>

<p><a href="http://www.nwc.org"><img src="http://www.uwyo.edu/acadaffairs/degree-plans/_files/images/comm-colleges/nwc_logo_605x206.gif" alt="NWC" title="NWC" width="150" /></a> <a href="http://www.westernwyoming.edu/"><img src="https://www.mtsacc.org/colleges/uploads/2017/10/Western-Wyoming-Community-College-300x142.jpg" alt="WWCC" title="WWCC" width="150" /></a></p>

<p><a href="https://www.cardiff.ac.uk/"><img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Cardiff-university-vector-logo.svg" alt="Cardiff" title="Cardiff" width="150" /></a></p>
    
    
    <h2> Results </h2>
    
    In the span of two weeks, four teams (Cobalt, Copper, Platinum, & Zinc), each comprised of ~4-5 students from across Wyoming's Community Colleges and the University of Wyoming, developed fully functional web applications to search/filter/map employees.
    
    Demos of the final deliverables are below:

   <br/>
    <h3>Cobalt Team Video | <a target="_blank"  href="https://github.com/clockwise-software/cobalt">GitHub</a></h3>
    
    <iframe
      width="640"
      height="480"
      src="https://drive.google.com/file/d/1saIsQVuw1Sa4OYBopwqFRGIsb-zEQ2oU/preview"
      frameborder="0"
      allowfullscreen="">
    </iframe>
    
    <br/>
   <h3>Copper Team Video | <a target="_blank"  href="https://github.com/clockwise-software/copper">GitHub</a></h3>
    
    <iframe
      width="640"
      height="480"
      src="https://drive.google.com/file/d/1VictkmYbUkkRtcduwGAlwUQftK5Gx1i8/preview"
      frameborder="0"
      allowfullscreen="">
    </iframe>
    <br/>
   <h3>Platinum Team Video Coming Soon | <a target="_blank" href="https://github.com/clockwise-software/platinum">GitHub</a></h3>
    
    <br/>
    <h3>Zinc Team Video | <a target="_blank"  href="https://github.com/clockwise-software/zinc">GitHub</a></h3>
    
    <iframe
      width="640"
      height="480"
      src="https://drive.google.com/file/d/1ZEMjhKWSKiJ1VinpVobi8P2qb9QVI787/preview"
      frameborder="0"
      allowfullscreen="">
    </iframe>

<br/>
    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

   <br/>
    <div>
        <div style="width:80%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Partners</h2>
                {% for ins in site.data.people.partners %}
                <div class="image--cover-container">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:20%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teams</h2>
                {% for ta in site.data.people.teams %}
                <div class="image--cover-container">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
