---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<h2>Day3 - Sat April 10th </h2>
<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Format</div>
        </li>

        <li class="table-row">
            <div class="col col-1">Welcome Back</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ 930AM </div>
            <div class="col col-2" data-label="Description">Meet Others in Other Groups!</div>
            <div class="col col-4 markdown-content">Full Group on Zoom</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Overview of Today's Goals</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ 945AM </div>
            <div class="col col-2" data-label="Description">Level Set / Daily Charge </div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Group Work</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ ~10AM-2PM </div>
            <div class="col col-2" data-label="Description">Tasks: Sync, Open Actions, Finalize/Package Code/Comments/Git Repo, Record Video Demo</div>
            <div class="col col-4 markdown-content">Team Focused</div>
        </li>
        
        
        <li class="table-row">
            <div class="col col-1">Option Lunch and Learn</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ ~Noon-1PM </div>
            <div class="col col-2" data-label="Description">Various - TBA Based on Needs </div>
            <div class="col col-4 markdown-content">Optional, Breakout Rooms</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Final Presentations to Industry and Guests</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ 2PM-240PM </div>
            <div class="col col-2" data-label="Description">200-210 - Cobalt <br> 210-220 - Platinum<br> 220-230 - Copper <br>230-240 - Zinc; <br> <em>15 minutes demo and feedback</em></div>
            <div class="col col-4 markdown-content">Live Demo w/Industry Q&A</div>
        </li> 
        
        <li class="table-row">
            <div class="col col-1">Showcase</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ 240PM-310PM </div>
            <div class="col col-2" data-label="Description"> "Stand by your virtual demo" for more personal Q&A </div>
            <div class="col col-4 markdown-content">Breakout Rooms</div>
        </li> 
        
         <li class="table-row">
            <div class="col col-1">Closing</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 10th @ 310PM~330PM </div>
            <div class="col col-2" data-label="Description">Group Discussion - Wrap-up / What Next?</div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li> 
    </ul>
</div>


<h2>Day2 - Sat April 3rd </h2>
<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Format</div>
        </li>

        <li class="table-row">
            <div class="col col-1">Welcome Back</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 3rd @ 930AM </div>
            <div class="col col-2" data-label="Description">Meet Others in Other Groups!</div>
            <div class="col col-4 markdown-content">Full Group on Zoom</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Overview of Today's Goals</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 3rd @ 10AM </div>
            <div class="col col-2" data-label="Description">Level Set / Daily Charge </div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Group Work</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 3rd @ ~1030AM-2PM </div>
            <div class="col col-2" data-label="Description">Tasks: Sync, Open Actions, Client Demo Preparation</div>
            <div class="col col-4 markdown-content">Team Focused</div>
        </li>
        
        
        <li class="table-row">
            <div class="col col-1">Option Lunch and Learn</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 3rd @ ~Noon-1PM </div>
            <div class="col col-2" data-label="Description">Various / Day 2 - Mark Thoney - Full Stack / Tammy Robertson Databases </div>
            <div class="col col-4 markdown-content">Optional, Breakout Rooms</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">1:1 Client Meetings</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 3rd @ 2PM-3PM </div>
            <div class="col col-2" data-label="Description">2:00-2:15 - Platinum <br> 215-230 - Cobalt<br> 230-245 - Zinc <br>245-300 - Copper; <br> <em>15 minutes demo and feedback</em></div>
            <div class="col col-4 markdown-content">1:1 Teams w/Client</div>
        </li> 
        
             <li class="table-row">
            <div class="col col-1">Closing</div>
            <div class="col col-1-2" data-label="Date">Sat Apr 3rd @ 3PM-3:30PM </div>
            <div class="col col-2" data-label="Description">Discussion, Wrap-up and Charge for the Week</div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li> 
    </ul>
</div>


<h2>Day1 - Sat March 27th</h2>
<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Format</div>
        </li>

        <li class="table-row">
            <div class="col col-1">Welcome/Kickoff</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 930AM </div>
            <div class="col col-2" data-label="Description">Meet and Greet </div>
            <div class="col col-4 markdown-content">Full Group on Zoom</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Overview of the Bootcamp</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 10AM </div>
            <div class="col col-2" data-label="Description"> <a href="https://app.hellosign.com/s/H5imRlFS" target="_blank"> NDA</a> / Level Set / Daily Charge </div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Group Work</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ ~1030AM-2PM </div>
            <div class="col col-2" data-label="Description">Tasks: Team Contract, Environment (GitHub + GitPod), Project Talk/Brainstorm, Client Prep</div>
            <div class="col col-4 markdown-content">Team Focused</div>
        </li>
        
        
        <li class="table-row">
            <div class="col col-1">Option Lunch and Learn</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ ~Noon-1PM </div>
            <div class="col col-2" data-label="Description">Various / Day 1 - Open Technical Q&A</div>
            <div class="col col-4 markdown-content">Optional, Breakout Room</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">1:1 Client Meetings</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 2PM-3PM </div>
            <div class="col col-2" data-label="Description">2:00-2:15 - Copper <br> 215-230 - Zinc<br> 230-245 - Cobalt <br>245-300 - Platinum; <br> <em>Ask TriHydro, your industry client, about their needs, expectations, and vision.</em></div>
            <div class="col col-4 markdown-content">1:1 Teams w/Client</div>
        </li> 
        
             <li class="table-row">
            <div class="col col-1">Closing</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 3PM </div>
            <div class="col col-2" data-label="Description">Sync, Wrap-up and Charge for the Week</div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li> 
    </ul>
</div>

Have questions throughout the day? Join and ask the group questions on our [slack channel](clockwise-bootcamp.slack.com
). Join at https://join.slack.com/t/clockwise-bootcamp/shared_invite/zt-nu2mzbza-uvGPV1pXr0lHbJskgr_Y~Q

