---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Format</div>
        </li>

        <li class="table-row">
            <div class="col col-1">Welcome/Kickoff</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 930AM </div>
            <div class="col col-2" data-label="Description">Meet and Greet </div>
            <div class="col col-4 markdown-content">Full Group on Zoom</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Overview of the Bootcamp</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 10AM </div>
            <div class="col col-2" data-label="Description"> <a href="https://app.hellosign.com/s/H5imRlFS" target="_blank"> NDA</a> / Level Set / Daily Charge </div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">Group Work</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ ~1030AM-2PM </div>
            <div class="col col-2" data-label="Description">Tasks: Team Contract, Environment (GitHub + GitPod), Project Talk/Brainstorm, Client Prep</div>
            <div class="col col-4 markdown-content">Team Focused</div>
        </li>
        
        
        <li class="table-row">
            <div class="col col-1">Option Lunch and Learn</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ ~Noon-1PM </div>
            <div class="col col-2" data-label="Description">Various / Day 1 - Open Technical Q&A</div>
            <div class="col col-4 markdown-content">Optional, Breakout Room</div>
        </li>
        
        <li class="table-row">
            <div class="col col-1">1:1 Client Meetings</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 2PM-3PM </div>
            <div class="col col-2" data-label="Description">2:00-2:15 - Copper <br> 215-230 - Zinc<br> 230-245 - Cobalt <br>245-300 - Platinum; <br> <em>Ask TriHydro, your industry client, about their needs, expectations, and vision.</em></div>
            <div class="col col-4 markdown-content">1:1 Teams w/Client</div>
        </li> 
        
             <li class="table-row">
            <div class="col col-1">Closing</div>
            <div class="col col-1-2" data-label="Date">Sat 27th @ 3PM </div>
            <div class="col col-2" data-label="Description">Sync, Wrap-up and Charge for the Week</div>
            <div class="col col-4 markdown-content">Full Group</div>
        </li> 
    </ul>
</div>

Have questions throughout the day? Join and ask the group questions on our [slack channel](clockwise-bootcamp.slack.com
). Join at https://join.slack.com/t/clockwise-bootcamp/shared_invite/zt-nu2mzbza-uvGPV1pXr0lHbJskgr_Y~Q

